$font-main: 'Anek Tamil', sans-serif;

$main-color: #00d2dc;
$light-color: #edeef3;

// Breakpoints
$mac: 1440px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$mb: 555px;
$ip: 420px;
$xs: 350px;

$transition-ease: 0.4s ease-in-out;
