.site-footer {
  border-top: 1px solid $light-color;
  .container {
    margin-top: 57px;
    max-width: 1351px;
    .footer-top {
      position: relative;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      .footer-part {
        .footer-title {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 700;
          font-family: $font-main;
          margin-bottom: 16px;
        }
        ul {
          li {
            margin-top: 16px;
            font-family: $font-main;
            a {
              transition: $transition-ease;
              color: black;
              &:hover {
                color: $main-color;
              }
            }
          }
        }
      }
    }
    .copyright {
      margin-top: 67px;
      text-align: center;
      span {
        font-family: $font-main;
        text-transform: uppercase;
        font-weight: 700;
        padding: 2px 30px;
        background-color: black;
        color: white;
        border-radius: 8px;
      }
      .copyright-items {
        margin-top: 38px;
        font-size: 34px;
        margin-bottom: 50px;
        a {
          margin-left: 13px;
          margin-right: 13px;
          transition: $transition-ease;
          color: black;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

@include mac-1376 {
  .site-footer {
    .container {
      .footer-top {
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }
}

@include sm-767 {
  .site-footer {
    .container {
      margin-top: 0;
      .footer-top {
        flex-direction: column;
        text-align: center;
        .footer-part {
          .footer-title {
            margin-top: 60px;
          }
        }
      }
      .copyright {
        .copyright-items {
          margin-bottom: 44px;
          a {
            margin-left: 2px;
            margin-right: 2px;
            transition: $transition-ease;
            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}